<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex items-center justify-center h-screen bg-gray-100 font-sans">
<div class="w-full max-w-md">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/512px-Tailwind_CSS_Logo.svg.png?20230715030042"
         alt="tailwind-logo"
         class="w-12 mx-auto fill-indigo-500"
    >
    <h1 class="text-2xl text-center font-bold my-8">Sign in to your account</h1>
    <form method="POST" class="bg-white shadow-md rounded px-10 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-medium mb-2" for="email">
                Email address
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="email"
                   name="email"
                   type="text"
            >
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-medium mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                   id="password"
                   name="password"
                   type="password"
            >
        </div>
        {% if message %}
            <div class="mb-4 {{ isLogged == true ? 'text-green-500' : 'text-red-500' }} text-xs italic">{{ message }}</div>
        {% endif %}
        <div class="flex justify-between mb-4">
            <div class="flex items-center mb-4">
                <input id="remember-me" type="checkbox" value="" class="w-4 h-4 mr-2 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="remember-me" class="ms-2 text-sm text-gray-900 dark:text-gray-300">Remember me</label>
            </div>
            <div class="text-sm">
                <a href="#" class="font-medium text-indigo-500 dark:text-indigo-400 hover:underline">Forgot password?</a>
            </div>
        </div>
        <div class="flex items-center justify-between mb-6">
            <button class="w-full text-sm bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                Sign In
            </button>
        </div>
        <div class="flex justify-between items-center pt-4">
            <hr class="w-1/4">
            <p class="text-center text-sm">Or continue with</p>
            <hr class="w-1/4">
        </div>
        <div class="flex w-full justify-between my-6">
            <script src="https://accounts.google.com/gsi/client" async></script>
            <div class="w-1/2 mr-4">
                <div id="g_id_onload"
                     data-client_id="YOUR_GOOGLE_CLIENT_ID"
                     data-login_uri="https://your.domain/your_login_endpoint"
                     data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                     data-type="standard"
                     data-size="large"
                     data-theme="outline"
                     data-text="signin"
                     data-shape="rectangular"
                     data-logo_alignment="center">
                </div>
            </div>
            <a href="https://github.com/login/oauth/authorize?client_id=<%= CLIENT_ID %>"
               class="w-1/2 text-black border rounded flex items-center justify-evenly">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                     alt="github-logo"
                     class="w-6"
                >
                GitHub
            </a>
        </div>
    </form>
    <p class="text-center text-gray-500 text-xs mt-8">
        Not a member? <a class="text-indigo-500 hover:text-indigo-600 font-medium text-sm" href="#">Start a 14 day free trial</a>
    </p>
</div>
</body>
</html>
